/* .queHacemos{
    background-color: var(--whiteDark);
    height: 30rem;
} */
    /* .qh--conteiner{ 
        box-sizing: content-box;
        display: flex; flex-direction: row; 
        align-items: center; justify-content: space-evenly;

        height: 97%; width: 90%; 
        border-radius: 10px; margin: 0rem auto; 

        box-shadow: 0px 0px 20px -12px black ;
        background-color: var( --white );
    } */
        /* .qh--items{
            display: flex; flex-direction: column; justify-content: space-evenly;
            min-height: 20rem; width: 15rem; border-radius: 8px;

            box-shadow: 0px 0px 20px 5px var( --greenLight ) ;
            background-color: var( --white );
        } */
            /* .ii--img{
                display: inline-block;
                filter: invert(64%) sepia(26%) saturate(1178%) hue-rotate(61deg) brightness(98%) contrast(100%); 
              
                height: 5rem; width: 5rem;
                margin: 1rem;
    
            } */      /* filter : invert(0.4) sepia(1) hue-rotate(20deg) saturate(1000%) ; */
            /* .ii--titulo{
                margin: 1rem;

                color: var( --black );
            } */
            /* .ii--text{
                margin: 0.6rem; padding: 1rem;

                line-height: 1.4rem;
                font-size: 16px;
                color: var( --gray );
            } */

/*------------     -----------------         -----------------   Idea 2      ---------------        -----------------*/

.queHacemos{
    background-color: var(--whiteDark);
    height: auto; width: var( --width--conteiner ); margin: 0px auto;
}
    .qh--conteiner--tilte{
        display: flex; flex-direction: column; justify-content: center;
        height: 18rem; width: 100%;
    }
        .qh--title{
            padding: 1rem;
            color: var(--black);
            letter-spacing: 1.5px;
        }
        .qh--text{
            padding: 1.5rem 7rem;
            line-height: 32px;
            color: var(--gray);
            letter-spacing: 0.3px;
        }

    .qh--conteiner{ 
        box-sizing: content-box;                           /*  Vercion cuadrada */

        display: grid; grid-template-columns:  1fr 1fr 1fr ; grid-template-rows: 1fr 1fr 1fr; 
        gap: 2rem  0rem;
        grid-template-areas: 
        "   fumigacion       mantenimiento          paisajismo     "
        "   cesped           jardinesVerticales     riego     "
        "   desmalezado      podaAltura             construccion  "
        ;

        height: 97%; width: 100%; 
        border-radius: 10px; 
        margin: 2rem auto; 

        /* box-shadow: 0px 0px 20px -12px black ; */
        background-color: var( --white );
    }
        .qh--items{
            display: flex; flex-direction: column; justify-content: flex-start;
            height: 24rem; width: 23rem; border-radius: 5px; 
            margin: auto ;

            /* box-shadow: 0px 0px 10px 2px var( --gray ) ; */
            /* background-color: var( --white ); */
        }

        .fumigacion{
            grid-area: fumigacion;
            background-image: url("../pisctures/servicios/fumigacion8.jpg "); 
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .mantenimiento{
            grid-area: mantenimiento ;
            background-image: url("../pisctures/servicios/mSupr2.jpg"); 
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .desmalezado{
            grid-area: desmalezado;
            background-image: url("../pisctures/servicios/desmalezado2.jpg "); 
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .cesped{
            grid-area: cesped;
            background-image: url("../pisctures/servicios/colocacionCesped.jpeg"); 
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .jardinesVerticales{
            grid-area: jardinesVerticales;
            background-image: url("../pisctures/servicios/jardinVertical2.jpg"); 
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .riego{
            grid-area: riego;
            background-image: url("../pisctures/servicios/riego2.jpg"); 
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .paisajismo{
            grid-area: paisajismo;
            background-image: url("../pisctures/servicios/cyp1.jpeg"); 
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .podaAltura{
            grid-area: podaAltura;
            background-image: url("../pisctures/servicios/podaAltura5.jpeg"); 
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .construccion{
            grid-area: construccion;
            background-image: url("../pisctures/servicios/cyp2.jpg "); 
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
            .into--item{
                height: 100%; width: 100%;
                padding: 0% ; margin: 0%;
                background:none;
            }
                .ii--titulo{
                box-sizing: border-box!important;
                display: flex; flex-direction: column; justify-content: center;
                height: 24%; width: 90%;
                padding: 0.4rem 2rem;
                margin:  20px auto; 
                border-radius: 5px;
                
                background-color: var(  --grayLightOpacity );    color: black ;
                font-size: 20px; font-weight: 400;
                letter-spacing: 0.7px; 
                line-height: 27px;
            }
            .ii--text{
                display: none;
                margin: 0.6rem; padding: 1rem;

                line-height: 1.4rem;
                font-size: 16px;
                color: var( --gray );
            } 


/*todo:  la foto de poda en altura cambiala y la de fumigacion */