:root{
    --greenDarck:     #005a37;
    --greenDarck2:    #5b9f76;
    --green:          #00ad42;
    --greenLight:     #7cda24;
    --greenLight2:    #5bc120;
    --greenLightGradient: linear-gradient(135deg, rgb(122, 220, 180) 0%, rgb(0, 208, 130) 100%);
    --black:          #353535;
    --grayDarck:      rgb(72 74 73) ;
    --gray:           rgb(123 123 123);  
    --grayLight:      #efefef;
    --grayLightOpacity:#efefefd2;
    --opacity1:       rgba(72, 70, 70, 0.378);
    --opacity2:       rgba(0, 0, 0, 0.414);
    --whiteDarck:     #fcfcfc;
    --white:          #ffffff;
 
    /* --silver:         #8395a7; */
    /* --silver-opacity: #8395a786; */
   
    /* --gray:       rgb(123 123   #898f99;  */
    /* --light-black:    #576574; */


    /* --red:            #ff6b6b; */
    /* --purple:         #341f97; */
    --orange:         #fd9d24;
    /* --light-orange:   #feca57; */
    --color-opacity:  #3f5d7dbf;

    --heightSmall--conteiner: 25rem;
    --heightMedium--conteiner: 35rem;
    --heightLarge--conteiner: 45rem;
    --heightXXXLarge--conteiner: 105rem;

    --width--conteiner: 1200px
} 

.volp--btn:hover { 
    opacity: 0.9; 
  
    /* background-color: #8395a7; */
    
}
.volp--btn:active {
    scale: calc(99%);
}

*{  
    box-sizing: border-box!important;  
    padding: 0%; margin: 0%;

  /* font-family: "Montserrat" ,  sans-serif; */
  /* font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ; */
  /* font-family: Open Sans, Arial, sans-serif;  */
  /* font-family:  Roboto, sans-serif; */
  font-family:  "poppins", sans-serif ;

  /* font-optical-sizing: auto; */

  /* font-weight: 100; */
  font-style: normal;

}
body{ 
    /* max-width: 1440px;       */
    width: 100%;
    margin: auto;
}
h2 {  font-size: 3rem; }
h3 , h4 { font-size: 1.5rem;}


a{ text-decoration: none; }
ul{ list-style: none; }
li{ display: inline-block;}

section{ 
    text-align: center;
    width: 100%; 
    min-height: 30rem;
    /* border-bottom: #fd9d24 2px solid; */
}


@media (max-width: 840px){
    body{ 
        width: 100%;      
        margin: auto;
    }
}
/*--------------     -----------      -------------        ---------------       -------------       -------------       -----------*/

/*-----    ------------    -BOTON WHATSAPP     ---------------      ----------------*/
.body--btn--whatsapp--conteiner{
    /* box-sizing: border-box; */
    /* display: block;  transition: all 0.3s; */
    z-index: 80;
    position: fixed; bottom: 0.8rem; right: 1%;
    
    height: 4.4rem; width: 4.4rem; border: none;
    /* padding:  0.3rem 0.6rem 0.5rem 0.6rem; */
    border-radius: 50%;
    

}
    .body--btn--whatsapp{

        height: 100%; width: 100%; border: none; margin: 0%; 

        display: flex; flex-direction: column; justify-content: center; align-items: center;

        border-radius: 50%;
        background-color: var(--green); 
    }
    
        .body--btn--whatsapp--img{
          
            /* max-height: 100%; max-width: 100%;  */
            height: 2.7rem; width: 2.7rem; 
            margin: 0px; padding: 1px;

            filter: invert(96%);
            /* font-size: 16px; */
            /* filter: invert(64%) sepia(26%) saturate(1178%) hue-rotate(61deg) brightness(98%) contrast(100%);  */
        }

@media (max-width: 680px){ .body--btn--whatsapp--conteiner{ display: none;} }



/* .btn-resorte{ 
    box-sizing: border-box;
    display: block;  transition: all 0.3s;
    position: fixed; bottom: 0.8rem; right: 1%;
    height: 3.5rem; width: 3.5rem; 
    padding:  0.3rem 0.6rem 0.5rem 0.6rem;
    border-radius: 10px;
    background-color: var(--silver-opacity); 
}
.btn-resorte--img{ 
    max-height: 100%; max-width: 100%; 
    margin: 0px; padding: 1px;
    filter: invert(96%);
    font-size: 16px;
}

.btn-resorte:active{ 
    background-color: #8395a7;
    
}
.btn-resorte:active a .btn-resorte--img{ 
    padding: 2px 1px;
}
@media (max-width: 680px){ .btn-resorte{ display: none;} } */


/*
    --wp--preset--font-size--small: 13px;
    --wp--preset--font-size--medium: 20px;
    --wp--preset--font-size--large: 36px;
    --wp--preset--font-size--x-large: 42px;
*/

footer{
    display: block;
    height: 9rem; width: 100%; margin: 0%;
    background: var( --greenDarck ) ;
}